<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarolinaSpa | Salón de belleza</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header header__contenedor">
      <div class="header__grid">
        <div class="header__logo">
          <img src="./assets/img/icons/logo.svg" alt="Logo-CarolinaSpa" />
        </div>
        <nav class="nav-social">
          <a class="nav-social__link" href="#http://facebook.com">
            <span class="nav-social__accessible">Facebook</span>
          </a>
          <a class="nav-social__link" href="#http://instagram.com">
            <span class="nav-social__accessible">Instagram</span>
          </a>
          <a class="nav-social__link" href="#http://TikTok.com">
            <span class="nav-social__accessible">TikTok</span>
          </a>
          <a class="nav-social__link" href="#http://youtube.com">
            <span class="nav-social__accessible">YouTube</span>
          </a>
        </nav>
      </div>
    </header>
    <div class="nav">
      <div class="nav__content">
        <button class="nav__hamburguer-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 6l16 0" />
            <path d="M4 12l16 0" />
            <path d="M4 18l16 0" />
          </svg>
        </button>

        <nav class="nav__contenedor">
          <a href="#" class="nav__link">Inicio</a>
          <a href="#" class="nav__link">Quienes somos</a>
          <a href="#" class="nav__link">Servicios</a>
          <a href="#" class="nav__link">Productos</a>
          <a href="#" class="nav__link">Contacto</a>
        </nav>
      </div>
    </div>
    <section class="slider slider__contenedor">
      <ul class="slider__content">
        <li class="slider__slide">
          <img
            class="slider__img"
            src="./assets/img/slider/slide_01.jpg"
            alt="Slide 1"
          />
        </li>
        <li class="slider__slide">
          <img
            class="slider__img"
            src="./assets/img/slider/slide_02.jpg"
            alt="Slide 1"
          />
        </li>
        <li class="slider__slide">
          <img
            class="slider__img"
            src="./assets/img/slider/slide_03.jpg"
            alt="Slide 1"
          />
        </li>
      </ul>
    </section>
    <section class="welcome section">
      <h1 class="welcome__heading">
        Bienvenidos a nuestro <span>sitio web</span>
      </h1>
      <p class="welcome__text">
        Te sentirás como nuevo con nuestros masajistas profesionales
      </p>
    </section>
    <section class="services">
      <div class="services__grid __contenedor">
        <div class="card-service">
          <img
            src="./assets/img/services/servicio_01.jpg"
            alt="imagen-card"
            class="card-service__img"
          />
          <div class="card-service__content">
            <h2 class="card-service__heading">Conoce sobre <span>nosotros</span></h2>
            <a href="#" class="card-service__btn">Leer más</a>
          </div>
        </div>
        <div class="card-service">
          <img
            src="./assets/img/services/servicio_02.jpg"
            alt="imagen-card"
            class="card-service__img"
          />
          <div class="card-service__content">
            <h2 class="card-service__heading">Nuestros <span>servicios</span></h2>
            <a href="#" class="card-service__btn">Leer más</a>
          </div>
        </div>
        <div class="card-service">
          <img
            src="./assets/img/services/servicio_03.jpg"
            alt="imagen-card"
            class="card-service__img"
          />
          <div class="card-service__content">
            <h2 class="card-service__heading">Visita nuestra <span>tienda</span></h2>
            <a href="#" class="card-service__btn">Leer más</a>
          </div>
        </div>
      </div>
    </section>
    <section class="shedules">
      <div class="shedules__grid shedules__contenedor">
        <div class="shedules__content">
          <h3 class="shedules__heading">Nuestros horarios</h3>
          <p class="shedules__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            velit quae excepturi, numquam assumenda deserunt officiis,
            perspiciatis itaque consectetur possimus commodi! Ipsa blanditiis
            maxime est natus illo laboriosam minima. Consequatur!
          </p>

          <table class="table-shedules">
            <thead class="table-shedules__head">
              <tr>
                <th class="table-shedules__th">Día</th>
                <th class="table-shedules__th">De</th>
                <th class="table-shedules__th">Hasta</th>
              </tr>
            </thead>
            <tbody class="table-shedules__body">
              <tr class="table-shedules__tr">
                <td class="table-shedules__td">Lunes</td>
                <td class="table-shedules__td">09:00</td>
                <td class="table-shedules__td">18:00</td>
              </tr>
              <tr class="table-shedules__tr">
                <td class="table-shedules__td">Martes</td>
                <td class="table-shedules__td">09:00</td>
                <td class="table-shedules__td">18:00</td>
              </tr>
              <tr class="table-shedules__tr">
                <td class="table-shedules__td">Miércoles</td>
                <td class="table-shedules__td">09:00</td>
                <td class="table-shedules__td">18:00</td>
              </tr>
              <tr class="table-shedules__tr">
                <td class="table-shedules__td">Jueves</td>
                <td class="table-shedules__td">09:00</td>
                <td class="table-shedules__td">18:00</td>
              </tr>
              <tr class="table-shedules__tr">
                <td class="table-shedules__td">Viernes</td>
                <td class="table-shedules__td">09:00</td>
                <td class="table-shedules__td">18:00</td>
              </tr>
              <tr class="table-shedules__tr">
                <td class="table-shedules__td">Sábado</td>
                <td class="table-shedules__td">10:00</td>
                <td class="table-shedules__td">17:00</td>
              </tr>
              <tr class="table-shedules__tr">
                <td class="table-shedules__td">Domingo</td>
                <td class="table-shedules__td" colspan="2">Cerrado</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <main class="section main-products main-products__contenedor">
      <h2 class="main-products__heading">Nuestros <span>productos</span></h2>
      <div class="main-products__grid">
        <div class="card-product">
          <div class="card-product__mask">
            <img
              class="card-product__img"
              src="./assets/img/products/producto_01.jpg"
              alt="Imagen de producto"
            />
          </div>
          <div class="card-product__content">
            <h3 class="card-product__name">Producto 1</h3>
            <p class="card-product__desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
              deserunt incidunt quaerat ex, delectus mollitia dolor, quam sit
              vel dolorem sus
            </p>
            <p class="card-product__price">$25</p>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__mask">
            <img
              class="card-product__img"
              src="./assets/img/products/producto_02.jpg"
              alt="Imagen de producto"
            />
          </div>

          <div class="card-product__content">
            <h3 class="card-product__name">Producto 2</h3>
            <p class="card-product__desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
              deserunt incidunt quaerat ex, delectus mollitia dolor, quam sit
              vel dolorem sus
            </p>
            <p class="card-product__price">$35</p>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__mask">
            <img
              class="card-product__img"
              src="./assets/img/products/producto_03.jpg"
              alt="Imagen de producto"
            />
          </div>
          <div class="card-product__content">
            <h3 class="card-product__name">Producto 3</h3>
            <p class="card-product__desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
              deserunt incidunt quaerat ex, delectus mollitia dolor, quam sit
              vel dolorem sus
            </p>
            <p class="card-product__price">$45</p>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__mask">
            <img
              class="card-product__img"
              src="./assets/img/products/producto_04.jpg"
              alt="Imagen de producto"
            />
          </div>
          <div class="card-product__content">
            <h3 class="card-product__name">Producto 4</h3>
            <p class="card-product__desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
              deserunt incidunt quaerat ex, delectus mollitia dolor, quam sit
              vel dolorem sus
            </p>
            <p class="card-product__price">$55</p>
          </div>
        </div>
      </div>
    </main>
    <section class="cite">
      <h2 class="cite__heading">Realiza una cita con nosotros</h2>
      <p class="cite__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, odio
        sed! Error commodi dolores quas placeat atque esse quisquam unde at
        dolor pariatur consectetur amet sit, labore ipsam rem. Accusantium.
      </p>
      <a href="#" class="cite__btn">Leer más</a>
    </section>
    <footer class="footer">
      <div class="footer__grid footer__contenedor">
        <div class="footer__widget">
          <h3 class="footer__heading">Nosotros</h3>
          <p class="footer__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            error cupiditate ratione deleniti obcaecati enim nostrum sint,
            impedit reiciendis, voluptatibus aliquam, minima distinctio laborum
            assumenda minus maxime accusamus quibusdam architecto!
          </p>
        </div>
        <div class="footer__widget">
          <h3 class="footer__heading">Horarios</h3>
          <ul class="footer__shedule-list">
            <li class="footer__shedule-item">Lunes a Viernes: 09:00 - 18:00</li>
            <li class="footer__shedule-item">Sábado: 10:00 - 17:00</li>
            <li class="footer__shedule-item">Domingo: Cerrado</li>
          </ul>
        </div>
        <div class="footer__widget">
          <h3 class="footer__heading">Contacto</h3>
          <p class="footer__text">Calle 123, 456, Ciudad, Estado, CP 7890</p>

          <nav class="nav-social nav-social--footer">
            <a class="nav-social__link" href="#http://facebook.com">
              <span class="nav-social__accessible">Facebook</span>
            </a>
            <a class="nav-social__link" href="#http://instagram.com">
              <span class="nav-social__accessible">Instagram</span>
            </a>
            <a class="nav-social__link" href="#http://TikTok.com">
              <span class="nav-social__accessible">TikTok</span>
            </a>
            <a class="nav-social__link" href="#http://youtube.com">
              <span class="nav-social__accessible">YouTube</span>
            </a>
          </nav>
        </div>
      </div>

      <p class="footer__copyright">
        &copy; Todos los derechos reservados CarolinaSpa 2025
      </p>
    </footer>

    <!-- SwiperJS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="./js/main.js"></script>
  </body>
</html>
